<!-- views/dashboard.ejs -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  <%- include('header', { pageTitle: 'Dashboard', isLoggedIn: true, username: username }) -%>

  <h1>Welcome to the Dashboard!</h1>
  <p>Username: <%= username %></p>
  <p>Mobile Number: <%= mobile_number %></p>
  <a href="/aboutus">About Us</a> | <a href="/logout">Logout</a>
</body>
</html>
