<!-- views/dashboard.ejs -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  <%- include('header', { pageTitle: 'Dashboard', isLoggedIn: true, username: username }) -%>

  <h1>Welcome to the Dashboard!</h1>
  <p>Username: <%= username %></p>
  <p>Mobile Number: <%= mobile_number %></p>

  <a href="/sample_data">Sample Data</a> <br>
  
  <a href="/Profile">Profile</a> <br>
  
  <a href="/viewprofile">Old Style Profile</a> <br>

  <a href="/contacts">Contacts</a> <br>
  
  <a href="/aboutus">About Us</a> <br>

   <a href="/logout">Logout</a>
</body>
</html>
